{% extends 'base.html' %}

{% block content %}
    <h2>{{ lead.name }}</h2>

    <p><strong>Phone:</strong> {{ lead.phone }}</p>
    <p><strong>Email:</strong> {{ lead.email }}</p>
    <p><strong>Status:</strong> {{ lead.status }}</p>

    <hr>
    <a href="{% url 'lead_update' lead.id %}" class="btn btn-warning">
        Edit Lead
    </a>

    {% if not lead.deal %}
        <a href="{% url 'convert_lead' lead.id %}" class="btn btn-success">
            Convert To Deal
        </a>
    {% else %}
        <a href="{% url 'deal_detail' lead.deal.id %}" class="btn btn-primary">
            View Deal
        </a>
    {% endif %}

    <h4>Add Activity</h4>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Add Activity</button>
    </form>

    <hr>

    <h4>Add Note</h4>

    <form method="post">
        {% csrf_token %}

        {{ note_form }}
        <button
                type="submit"
                name="add_note"
                class="btn btn-secondary mt-2">
            Add Note
        </button>
    </form>

    <hr>
    <h4>Activity Timeline</h4>

    {% for item in timeline %}
        <div class="card mb-2">
            <div class="card-body">
                {% if item.activity_type %}
                    <strong>{{ item.activity_type }}</strong>
                    <br>
                    {{ item.note }}
                    <br><br>
                    <small>
                        By {{ item.user }} |
                        {{ item.created_at }}
                    </small>
                {% elif item.content %}
                    <strong>Note</strong>
                    <br>
                    {{ item.content }}
                    <br><br>
                    <small>
                        By {{ item.user }} |
                        {{ item.created_at }}
                    </small>
                {% else %}
                    <strong>System Event</strong>
                    <br>
                    {{ item.action }}
                    <br><br>
                    <small>
                        {{ item.created_at }}
                    </small>
                {% endif %}

                {% if item.next_follow_up %}
                    <div class="text-danger">
                        Follow up on: {{ item.next_follow_up }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}